.search {
    text-align: center;
    max-width: 40rem;
    width: 50%;
    margin: auto;
    padding-top: 1rem;
    position: relative;
    color: white;
    display: flex;
    background-color: #3a0334;
    /* border-radius: 14px;
    box-shadow: 0 1px 18px 10px rgba(187, 8, 106, 0.25); */
   
  }

  .search h2 {
    font-size: 2rem;
    margin-top: 0;
  }

  .root {
    padding: 1px 4px;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  
  .input {
    flex: 1;
    margin-left: 12px;
  }
  .iconButton {
    padding: 10;
    margin: 0 auto;
  }